# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3

# SQLite backups / temporary database files
db_backup.sqlite3
sqlite_data.json
sqlite_settings.py

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
production_data.json